* {
    position: relative;
    box-sizing: border-box;
}

:root {
    --main-color-h: 0;
    --main-color-s: 0%;
}

.admin-panel {
    width: 1000px;
    margin: 5em auto;
    border-radius: 0.35em;
    box-shadow: 0 2px 10px -9px black;
}

body {
    background: #edf2f5;
    color: #666;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1;
}

.admin-panel-bar {
    display: flex;
    background: #f1f1f1;
    /* border-bottom: 1px solid #888888; */
}

.admin-profile {
    padding: 1.25em;
    background: #888888;
}

.admin-profile__greating {
    color: white;
}

.admin-profile__username {
    font-weight: bold;
}

.admin-board {
    display: grid;
    /* padding: 2em; */
    padding-top: 0;
    /* background: #f1f1f1; */
    border-radius: inherit;
}

.admin-board__title {
    font-size: 1.35em;
    font-weight: 500;
    margin-bottom: 0.35em;
}

.admin-board__desc {
    padding: 1.75em 3em;
    background: #6f7e95;
    border-radius: 0.2em 0.2em 0 0;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
}

.admin-board__form {
    display: inline-grid;
    padding: 0 4em;
    background: white;
}

.admin-board__unit {
    display: inline-flex;
    /* align-items: center; */
    background: white;
    border-top: 2px solid #f5f5f5;
}

.admin-board__unit > label {
    width: 13em;
    padding: 2em 0;
    margin-right: 1em;
    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.25;
    color: #6f7e95;
}

.admin-board__input {
    width: 415px;
    padding: 1.25em;
    /* background: #f1f1f1; */
    border: unset;
    outline: none;
    font-family: inherit;
    font-size: 1.1em;
    font-weight: 500;
    color: #676c7b;
}

textarea.admin-board__input {
    min-height: 100px;
    width: 450px !important;
    font-size: 1.05em;
    line-height: 1.35;
}

.admin-board__options {
    display: grid;
}

.admin-board__item {
    display: flex;
    align-items: center;
    background: hsla(var(--main-color-h), var(--main-color-s), 50%, 1);
    border-left: 2px solid hsla(var(--main-color-h), var(--main-color-s), 85%, 1);
    font-size: 0.9em;
}

.admin-board__item--icon {
    padding: 0.55em;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    user-select: none;
}

.admin-board__item--name {
    padding: 0.5em 1em;
    flex: 1;
    text-align: center;
}

input[type="submit"] {
    padding: 0.75em;
    width: 150px;
    background: #6f7e95;
    border-radius: 0.2em 0.2em 0 0;
    color: white;
    cursor: pointer;
    transition: 0.3s ease background;
}



.admin-board__item--add .admin-board__item--name {
    /* padding: 0.75em 1em; */
    background: hsl(var(--main-color-h), var(--main-color-s), 19%);
    border: unset;
    outline: none;
    color: white;
    font-size: inherit;
}
.admin-board__item--add .admin-board__item--name:hover {
    color: white;
}
.admin-board__item--add .admin-board__item--name::placeholder {
    color: hsla(var(--main-color-h), var(--main-color-s), 85%, 1);
}

.admin-board__item--add:not(:only-child) {
    margin-bottom: 2em;
    border: unset;
}





.admin-profile__href {
    position: absolute;
    right: 0;
    padding: 1.25em;
    background: #888888;
    color: white;
    text-decoration: none;
    transition: .1s linear background;
}

.admin-profile__href:hover {
    background: #999999;
}



@keyframes spin-around {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.admin-panel__process {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    padding: 1em;
    background: hsl(210, 25%, 56%);
    color: white;
    transition: .25s ease-in-out background, .35s ease-in-out bottom;
    z-index: -1;
}

.admin-panel__process--result {
    background: hsla(155, 40%, 50%, 1);
}

.admin-panel__process--error {
    background: hsl(0, 40%, 50%);
}

.admin-panel__icon {
    margin-right: 0.5em;
}

.admin-panel__icon--circle {
    padding: 0.35em;
    border: 2px solid;
    border-radius: 100%;
    border-right-color: transparent;
    animation: 1s linear spin-around infinite;
}

.admin-panel__text {
    font-size: 16px;
    font-weight: 400;
}


.admin-board__marked {
    color: hsla(var(--main-color-h), var(--main-color-s), 70%, 1);
    text-decoration: underline;
}

.admin-board__marked:hover {
    text-decoration: unset;
    color: hsla(var(--main-color-h), var(--main-color-s), 80%, 1);
}



.admin-board__unit:first-child {
    border: unset;
}

input[type="submit"]:hover {
    background: hsla(216, 15%, 58%, 1);
}

.marked {
    color: #7db0ff;
}

.marked:after, .marked:before {
    content: '%';
}